---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
---

<Card class="bg-black border border-cyan-500/30 shadow-[0_0_20px_2px_rgba(34,211,238,0.2)] text-cyan-300 font-mono">
  <CardHeader>
    <CardTitle>Server Stats</CardTitle>
    <CardDescription>System diagnostics active</CardDescription>
  </CardHeader>
  <CardContent>
    <ul class="list-disc pl-5 space-y-1">
        <li>RAM: 16GB DDR4</li>
        <li>GPU: NVIDIA RTX 3060</li>
        <li>Storage: 512GB SSD</li>
    </ul>
  </CardContent>
  <CardFooter>
    <p>CPU: 86%</p>
  </CardFooter>
</Card>
