---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
---

<Card>
  <CardHeader>
    <CardTitle>Card Title</CardTitle>
    <CardDescription>Optional description for the card header.</CardDescription>
  </CardHeader>

  <CardContent>
    <p>This is the main body of the card.</p>
  </CardContent>

  <CardFooter>
    <p>Card footer content or actions.</p>
  </CardFooter>
</Card>