---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
---

<Card class="bg-[#fff5e1] border-2 text-gray-500 border-black rounded-none shadow-[4px_4px_0_0_#000] font-mono text-sm">
  <CardHeader>
    <CardTitle class="text-black">Retro Card</CardTitle>
    <CardDescription class="text-black/70">Old-school vibes.</CardDescription>
  </CardHeader>
  <CardContent>
    <p>Looks like an MS Paint window.</p>
  </CardContent>
  <CardFooter>
    <p>Click me maybe?</p>
  </CardFooter>
</Card>
