---
import PreviewContainer from '@/components/PreviewContainer.astro';

import { inputsBlocks } from '@/components/ui/input/blocks/inputsBlocks';
import { buttonsBlocks } from '@/components/ui/button/blocks/buttonsBlocks';
import { cardsBlocks } from '@/components/ui/card/blocks/cardsBlocks';
import { avatarsBlocks } from '@/components/ui/avatar/blocks/avatarsBlocks';
import { badgesBlocks } from '@/components/ui/badge/blocks/badgesBlocks';
import { alertsBlocks } from '@/components/ui/alert/blocks/alertsBlocks';

const componentSections = [
  {
    title: "Buttons",
    snippetContent: "orbitkit@latest add button",
    colSpan: 1,
    blocks: buttonsBlocks
  },
  {
    title: "Inputs",
    snippetContent: "orbitkit@latest add input",
    colSpan: 2,
    blocks: inputsBlocks
  },
  {
    title: "Cards",
    snippetContent: "orbitkit@latest add card",
    colSpan: 2,
    blocks: cardsBlocks
  },
  {
    title: "Avatars",
    snippetContent: "orbitkit@latest add avatar",
    colSpan: 1,
    blocks: avatarsBlocks
  },
  {
    title: "Badges",
    snippetContent: "orbitkit@latest add badge",
    colSpan: 1,
    blocks: badgesBlocks
  },
  {
    title: "Alerts",
    snippetContent: "orbitkit@latest add alert",
    colSpan: 2,
    blocks: alertsBlocks
  },
];

import Layout from '../layouts/LayoutComponents.astro';
import Sidebar from '@/components/home/Sidebar.astro';

---

<Layout title="OrbitUI | Gallery - Blocks">

  <section class="px-12 py-10">
    <header class="flex flex-col gap-2 items-center mb-20">
      <h1 class="text-3xl md:text-5xl font-bold text-center title-gradient-text font-audiowide">
        Components
      </h1>
    <p class="text-gray-300 font-semibold text-center">Explore individual components and <br/> add them to your UI
    </p>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-3 lg:px-30 px-2 ">
      <Sidebar currentPage='componentes'/>
      {componentSections.map((section, index) => (
        <PreviewContainer delay={(index+1) * 1000} title={section.title} blocks={section.blocks} snippetContent={section.snippetContent}/>
      ))}

    </div>
  </section>

</Layout>
