---
import Layout from '../layouts/Layout.astro';

import Sidebar from '@/components/home/Sidebar.astro';
import ComponentsPreview from '@/components/home/Carousel.astro';
import Galleries from '@/components/home/Galleries.astro';
import Footer from '@/components/home/Footer.astro';

import Rocket from '@/assets/icons/rocket.astro';

---

<Layout title="UIComponents | @OrbitUI">

  <section class="px-12 py-10">
    <header class="flex flex-col gap-2 items-center mt-5 lg:mt-15 mb-5 lg:mb-15 animate-fade-in">
      <a
      aria-label="explore blocks"
      href="/blocks"
      class="relative inline-flex transistion overflow-hidden rounded-full p-0.5 "
    >
        <span
          class="absolute  will-change-transform backface-hidden motion-reduce:animate-none blur-xs inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#0f172a_0%,#1e293b_40%,#334155_70%,#0c4a6e_100%)]"
        >
        </span>
        <span
          class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950/80 px-7 py-0.5 text-xs font-medium text-gray-300 backdrop-blur-3xl gap-2 undefined"
        >
        <Rocket class="size-4"/>
          blocks weekly
        </span>
      </a>
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-center title-gradient-text font-audiowide">
        UI Components
      </h1>
    <p class="text-gray-300">Explore the gallery of UI components made with
    <a
    class="text-white hover:text-primary transition-colors duration-300"
    rel="noopener noreferrer" aria-label="go to OrbitUI" target="_blank" href="https://orbitui-docs.vercel.app/">
      @OrbitUI
    </a>
    </p>
    </header>

    <Sidebar currentPage='home'/> 
    <ComponentsPreview/>
    <Galleries/>
    <div class="max-w-2xl mt-10 mx-auto py-24">
      <Footer/>
    </div>

  </section>

</Layout>
