---
import { Button } from "@/components/ui/button";
import { contentDefault } from "../blockConst"
---

  <Button class="bg-slate-500 border border-gray-400 rounded-lg hover:bg-slate-500/90 hover:border-gray-600 transition-all duration-300">{contentDefault}</Button>