---
import { Button } from "@/components/ui/button";
import { contentDefault } from "../blockConst"
---

<Button class="bg-gray-900 text-white border border-gray-700 rounded-lg hover:bg-gray-800 hover:shadow-lg transition duration-300">
  {contentDefault}
</Button>